@use '../constans' as c;

.textfield {
  display: flex;
  flex-direction: column;
  min-width: 0;

  &__label {
    margin-bottom: calc(c.$spacing / 2);
  }

  &__input {
    padding: 0 c.$spacing;
    height: 32px;
  }

  &__error {
    color: tomato;
    font-size: 13px;
    margin-top: calc(c.$spacing / 4);
  }
}
